@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
    margin: 0;
}

header {
    width: 100%;
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 1;
}

a.menu-icon-link:link, a.menu-icon-link:visited {
    text-decoration: none;
    color: white;
}

main {
    width: 100%;
    height: 100%;
}

.slide-list {
    position: absolute;
    background: #000;
    width: 33.3%;
    height: 100%;
    max-width: 300px;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
    z-index: 1;
    padding: 1em;
    color: white;
    text-align: center;
    margin: 0;
}

.list-hidden .slide-list {
    transform: translate3d(-21em, 0, 0);
    transition: transform 0.2s;
}

input {
    width: 75%;
}

button {
    width: 25%;
}

h1 {
    margin-top: 0;
    margin-bottom: 1em;
}

div.filter-box {
    width: 100%;
    display: flex;
}

#map {
    height: 100%;
    padding: 1em;
}